%h1 タイムライン
= render "image_list"
.footer_smart
  %ul{class:"navbar-nav"}
    %li= link_to image_tag("header/seetive.jpg", height: "100", alt: "rails logo"), root_path
    %li= link_to image_tag("header/seetive.jpg", height: "100", alt: "rails logo"), root_path
    %li= link_to image_tag("header/seetive.jpg", height: "100", alt: "rails logo"), root_path
    %li= link_to image_tag("header/seetive.jpg", height: "100", alt: "rails logo"), root_path
    %li= link_to image_tag("header/seetive.jpg", height: "100", alt: "rails logo"), root_path
