%header{class:"navbar navbar-fixed-top navbar-inverse"}
  .div{class:"container"}
    = link_to image_tag("header/seetive.jpg", height: "60", alt: "rails logo"), root_path
    .ul{class:"nav navbar-nav navbar-right"}
      - if user_signed_in?
        %li= link_to "投稿する", new_article_path
        %li= link_to "ログアウト", destroy_user_session_path
      - else
        %li= link_to "会員登録", new_user_registration_path
        %li= link_to "ログイン", new_user_session_path
